html, body, template, #app {
  height: 100%;
}

body {
  background-color: #141414 !important;
  color: #ffffff;
  padding-top: 80px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  background-color: #141414;
}

#nav {
  padding: 40px;
  
}

#nav a {
  font-weight: bold;
  color: #ffffff;
}

#nav a.router-link-exact-active {
  color: #ff9999;
}

test {
  background-color: #141414;
}